**/node_modules
**/.next
**/build
.git
.gitignore
.DS_Store
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dockerignore
*.md
*.log
.cache
.vscode
.idea
public/assets/raw/
src/**/*.test.js
src/**/*.spec.js